{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<style>
    .wrap {
        width: 50%;
        margin:10% auto;
        padding:7% 10%;
        background: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #content {
        width: 50%;
        margin: auto;
    }
    .page-header{
        text-align: center;
    }
    .button-wrapper{
        text-align: center;
    }
</style>
<div class="wrap">
    <div id="content">
        <div class="page-header">
            <h1>{{ cityname }}</h1>
        </div>
        <div class="button-wrapper">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>
{% endblock %}